body {
    padding-top: 5rem;
}
  
.starter-template {    
    padding: 3rem 1.5rem;
    text-align: center;
}
  
hr {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#map {
  bottom:0px;
  height: 100%;
  left: 362px;
  position: absolute;
  right: 0px;
}