<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">

	<a class="navbar-brand" href="{{url_for('showPlaces')}}">Places of Power</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			
			<li class="nav-item active">
				{%if 'username' not in session %}
				<a class="nav-link" href="{{url_for('showLogin')}}">Login</a>
				{% endif %}
			</li>

			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('showMap')}}">World Map</a>
			</li>
			
			<li class="nav-item active">
				{%if 'username' in session %}
				<a class="nav-link" href="{{url_for('addPlace')}}">Add a Place</a>
				<a class="nav-link" href="{{url_for('disconnect')}}">Logout</a>
				{% endif %}
			</li>
			
			<li class="nav-item active">
				<a class="nav-link" href="{{url_for('showHelp')}}">Help</a>
			</li>

		</ul>
	</div>
</nav>