{% extends "main.html" %} {% block content %} {% include "header.html" %}

<main role="main" class="container">
    <div class="starter-template">
        <img src="{{url_for('static', filename='stonehenge.jpg')}}" class="img-fluid img-thumbnail" alt="Picture of a Place of Power" height="400" width="400">
        <h3>How do I add a Place of Power</h3>
        <p class="lead">On the Navigation bar above, click Login, then click "Add a Place".
        Here you can add the name of your place, a description, and the latitude and longitude 
        of the location. If you do not know the coordinates, you can visit 
        <a class="" href="http://latitude.to" target="_blank">Latitude</a> to find 
        exact latitude and longitude coordinates for the Place of Power you've visited. Then
        simply paste those coordinates in the appropriate fields on the Add a Place of Power page.
        </p>
        <h3>Who are you?</h3>
        <p class="lead">Hi, my name is Fabricio, and I'd like to thank you for exploring. 
          Since I was a child, I've had an interest in spirituality. In exploring the world,
          I noticed some places provided me with more inspiration than others. inspiration
          to be creative, to write, to meditate and reflect. These places were churches, parks,
          even my own backyard growing up in Brazil. In creating this site, I hope to catalogue
          places I've visited, providing some cool geocolation and wikipedia data about them.
          I also hope for contributions from you. The world is a vast place, and there is much to explore!
        </p>
        <h3>How do I contact you in case I have suggestions or issues to report?</h3>
        <p class="lead">Please note Places of Power is a project in development. 
        You can email-me at <a href="mailto:magick.code@gmail.com">magick.code@gmail.com</a>.
        Thank you!
        </p>
    </div>
</main>

{% endblock %}