<!DOCTYPE html>
<html>

<head>

    <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="1026760767811-ma9q6akbgcip7kr5ppb0nj3jm8af9fnk.apps.googleusercontent.com">
    <!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->


</head>

<body>

    <!-- GOOGLE PLUS SIGN IN-->

    <div class="g-signin2" data-onsuccess="signinCallback"></div>

    <div id="result"></div>

    <script>
        function signinCallback(googleUser) {
	auth_result = googleUser.getAuthResponse();
	if (auth_result.id_token) {

		$('#signin_button').attr('style', 'display: none');

		$.ajax({
			type: 'POST',
			url: '/gconnect?state={{STATE}}',
			processData: false,
			contentType: 'application/octet-stream; charset=utf-8',
			data: auth_result.id_token,
			success: function(result) {
				if (result) {
					successful_login(result);
				} else if (auth_result['error']) {
					console.log('There was an error: ' + auth_result['error']);
				} else {
					$('#result').html('Failed to make a server side call. Check your configuration and console.');
				};
			}
		})
	};
}
function successful_login(html_response) {
	$('#result').html(html_response)
	setTimeout(function() {
		window.location.href = "{{url_for('showPlaces')}}";
	}, 4000);
};
    </script>

    <!--END GOOGLE PLUS SIGN IN -->

</body>

</html>