<main role="main" class="container">
    <div class="starter-template">
        
        <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
        <div id="signinButton">
            <span class="g-signin" data-scope="openid email"
                  data-clientid="1026760767811-ma9q6akbgcip7kr5ppb0nj3jm8af9fnk.apps.googleusercontent.com" 
                  data-redirecturi="postmessage" 
                  data-accesstype="offline" 
                  data-cookiepolicy="single_host_origin" 
                  data-callback="signInCallback" 
                  data-approvalprompt="force">
            </span>
        </div>
        
        <div id="result"></div>
    </div>
</main>