<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="A collection of Places of Power around the world">
		<meta name="author" content="Fabricio Sousa">
		<meta property="og:title" content="Places of Power">
		<meta property="og:description" content="A collection of Places of Power around the world. View and add your own!">
		<meta property="og:image" content="https://i.imgur.com/E4DZ4nH.jpg">
		<meta property="og:url" content="http://ec2-18-220-254-32.us-east-2.compute.amazonaws.com">
		<title>Places of Power</title>
		
		<!-- Bootstrap core CSS -->
		<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.min.css')}}">
		<!-- Custom Styles -->
		<link rel=stylesheet type=text/css href="{{url_for('static', filename='custom.css')}}">
	</head>
	
	<body>
		
		{% block content %}	{% endblock %}

		<script src="{{url_for('static', filename='knockout.js'"></script>
		<script src="{{url_for('static', filename='app.js'"></script>
		<script async defer
    	src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyC9w2jgB1rAgTssTI76UGl1QnCEDvFlFUc&callback=initMap"  onerror="apiError()">
  		</script>
		
		<!-- Bootstrap and jQuery javascript -->
		<script src="{{url_for('static', filename='jquery-3.3.1.slim.min.js')}}" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
		<script src="{{url_for('static', filename='popper.min.js')}}"></script>
		<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='holder.min.js')}}"></script>
		<script>
			// Example starter JavaScript for disabling form submissions if there are invalid fields
			(function() {
				'use strict';
				window.addEventListener('load', function() {
					// Fetch all the forms we want to apply custom Bootstrap validation styles to	var forms = document.getElementsByClassName('needs-validation');
					// Loop over them and prevent submission
					var validation = Array.prototype.filter.call(forms, function(form) {
						form.addEventListener('submit', function(event) {
							if (form.checkValidity() === false) {
								event.preventDefault();
								event.stopPropagation();
								}
								form.classList.add('was-validated');
								}, false);
								});
								}, false);
								})();
		</script>
	</body>
</html>