<!DOCTYPE html>

<html manifest="{{url_for('static', filename='manifest.appcache')}}" lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{{url_for('static', filename='pyramid.png')}}">
		<meta property="og:title" content="Places of Power">
		<meta property="og:author" content="Fabricio Sousa">
		<meta property="og:description" content="A collection of Places of Power around the world. View and add your own!">
		<meta property="og:image" content="https://i.imgur.com/E4DZ4nH.jpg">
		<meta property="og:url" content="http://ec2-18-220-254-32.us-east-2.compute.amazonaws.com">
		<title>Places of Power</title>
		
		<!-- Bootstrap core CSS -->
		<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.min.css')}}">
		<!-- Custom Styles -->
		<link rel=stylesheet type=text/css href="{{url_for('static', filename='custom.css')}}">
	</head>
	
	<body>
		
		{% block content %}	{% endblock %}
		<!-- Jquery javascript -->	
		<script src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
		<!-- Bootstrap javascript -->		
		<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='popper.min.js')}}"></script>
		<script src="{{url_for('static', filename='holder.min.js')}}"></script>
		<!-- Map app javascript -->
		<script src="{{url_for('static', filename='app.js')}}"></script>
		<!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
		<script src="//apis.google.com/js/platform.js?onload=start"></script>
		<!-- END PRE-REQUISITES FOR GOOGLE SIGN IN -->
		<!-- GOOGLE SIGN IN -->
		<script>
			function signInCallback(authResult) {
				if (authResult['code']) {
					// Hide the sign-in button now that the user is authorized
					$('#signinButton').attr('style', 'display: none');
					// Send the one-time-use code to the server, if the server responds, 
					// write a 'login successful' message to the web page and then redirect back to the main page.
					$.ajax({
						type: 'POST',
						url: '/gconnect?state={{STATE}}',
						processData: false,
						data: authResult['code'],
						contentType: 'application/octet-stream; charset=utf-8',
						success: function(result) {
							// Handle or verify the server response if necessary.
							if (result) {
								$('#result').html(result)
								setTimeout(function() {
									window.location.href = "/place";
									}, 4000);
									} else if (authResult['error']) {
										console.log('There was an error: ' + authResult['error']);
										} else {
											$('#result').html('Failed to make a server-side call. Check your configuration and console.');
											}
							}
						});
					}
				}
		</script>
		<!--END GOOGLE PLUS SIGN IN -->
		<script async defer
    	src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBGNG2E7taR9czX5cF1PPWERZekDUXzyO8&callback=initMap">
  		</script>
	</body>
</html>