<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="shortcut icon" href="{{url_for('static', filename='pyramid.png')}}">
		<meta property="og:title" content="Places of Power">
		<meta property="og:author" content="Fabricio Sousa">
		<meta property="og:description" content="A collection of Places of Power around the world. View and add your own!">
		<meta property="og:image" content="https://i.imgur.com/E4DZ4nH.jpg">
		<meta property="og:url" content="http://ec2-18-220-254-32.us-east-2.compute.amazonaws.com">
		<title>Places of Power</title>
		
		<!-- Bootstrap core CSS -->
		<link rel=stylesheet type=text/css href="{{url_for('static', filename='bootstrap.min.css')}}">
		<!-- Custom Styles -->
		<link rel=stylesheet type=text/css href="{{url_for('static', filename='custom.css')}}">
		<!-- Jquery javascript -->	
		<script src="{{url_for('static', filename='jquery-3.3.1.min.js')}}"></script>
		<!-- Map app javascript -->		
		<script src="{{url_for('static', filename='map.js')}}"></script>
		
	</head>
	
	<body>
		
			<!-- Navbar with the Search feature. -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<form class="navbar-form navbar-right" role="search">
					<div class="input-group">
						<input data-bind="value: search, valueUpdate: 'input'" class="form-control" placeholder="Search for a Park" type="text">
						<div class="input-group-btn">
							<button class="btn btn-default" <i class="glyphicon glyphicon-search"></i>Search</button>
						</div>
					</div>
				</form>
			</div>
		</nav>
				
				<!-- The Google Map -->
				<main role="main" class="container">
					<div class="starter-template">
						<div id="map"></div>
					</div>
				</main>

				<!-- Side bar with the list of parks. -->
				<aside class="col-md-3 col-md-offset-9 collapsed in" id="navbarSupportedContent">
					<div class="sidenav">
						<ul data-bind="foreach: listPlaces" class="list-group">
								<a  href="#" data-bind="text: name" onclick="clickMarker(this.innerHTML);" class="list-group-item list-group-item-action"></a>
						</ul>
  				</div>
				</aside>
			</div>
		</main>

		<!-- KnockoutJS lib -->
		<script src="{{url_for('static', filename='knockout.js')}}"></script>
		<!-- Bootstrap javascript -->		
		<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>
		<script src="{{url_for('static', filename='popper.min.js')}}"></script>
		<script src="{{url_for('static', filename='holder.min.js')}}"></script>
		<!-- Google API -->
		<script async defer
    	src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyBGNG2E7taR9czX5cF1PPWERZekDUXzyO8&callback=initMap">
  		</script>
	</body>
</html>