{% extends "main.html" %} {% block content %} {% include "header.html" %}

<main role="main" class="container">
	<div class="starter-template">
		<div class="flash">
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			{% for message in messages %}
			{{message}}
			{% endfor %}
			{% endif %}
			{% endwith %}
		</div>
		<a href="{{url_for('showMap')}}"><button class="btn btn-lg btn-outline-secondary" type="button">World Map of Places of Power</button></a>
		<hr class="mb-4">
		<h2>Latest Places</h2>	
		<a href="{{url_for('addPlace')}}">
			<button class="btn btn-sm btn-outline-secondary" type="button">Add Place</button>
		</a>			
		{% for place in places %}
		<a href = "{{url_for('showPlace', place_id = place.id)}}">
			<br class="mb-4">
			<h4>{{place.name}}</h4>
		</a>
		<h8>Added by {{place.user_name}} on {{place.date.strftime("%-d-%b-%Y at %I:%M %p")}}</h8>
		<br class="mb-3">
		{% endfor %}		
	</div>
</main>

{% endblock %}