{% extends "main.html" %} {% block content %} {% include "header.html" %}

<main class="text-center">
    <form class="form-signin">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <a href="{{url_for('showLogin')}}"><button class="btn btn-lg btn-outline-secondary" type="button">Google</button></a>
        <a href="{{url_for('showLogin')}}"><button class="btn btn-lg btn-outline-secondary" type="button">Facebook</button></a>
    </form>
</main>

{% endblock %}